.send-button{
    /*background-color: green;*/
    /*font-size: 16px;*/
    width: 50px;
    height: 50px;
    color: white;
    padding: 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}
.send-button:hover{
    background-color: #dadada;
}
.chat-input{

    border: none;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;



    flex-grow: 1;
    min-width: 200px;


}
.chat-input:focus{
    outline: none;
}

.chat-message-loading{
    padding-top: 15px;
    width: 40px;
    height: 40px;


}

.chat-input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto 30px;

    border : 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 50px;

}